In [1]:
#reverse a string

In [2]:
a='My name is Karan and I am not terrorist'

In [3]:
a[::-1]

'tsirorret ton ma I dna naraK si eman yM'

In [4]:
def isPalindrome(s):
    return s == s[::-1]
 
s = "malayalam"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

In [5]:
a.upper()

'MY NAME IS KARAN AND I AM NOT TERRORIST'

In [6]:
a.lower()

'my name is karan and i am not terrorist'

In [7]:
vowels='aeiouAEIOU'
count=sum(a.count(vowel) for vowel in vowels)
print(count)

12

In [8]:
count=sum(a.count(consonant) for consonant in a)
print(count)

155

In [9]:
a.replace(' ','')

'MynameisKaranandIamnotterrorist'

In [10]:
a

'My name is Karan and I am not terrorist'

In [11]:
string=input("Enter string:")
count=0
for i in string:
      count=count+1
print("Length of the string is:")
print(count)

Enter string:Karan
Length of the string is:
5

In [12]:
if 'Karan' in a:
    print('Karan is in the string')
else:
    print('He is not in the string')

Karan is in the string

In [13]:
if 'apples' in 'This string has apples':
    print('apples is in the string')
else:
    print('He is not in the string')

apples is in the string

In [14]:
a.replace('Karan','Rawat')

'My name is Rawat and I am not terrorist'

In [15]:
a

'My name is Karan and I am not terrorist'

In [16]:
substring='a'

In [17]:
count=a.count(substring)
print("The count is:",count)

The count is: 5

In [18]:
#first occurrence of a word
a[0]

'M'

In [19]:
#last occurrence of a word
a[-1]

't'

In [20]:
#Split a string into a list of words
a.split()

['My', 'name', 'is', 'Karan', 'and', 'I', 'am', 'not', 'terrorist']

In [21]:
l0=[1,2,'rawat',True, 5+8j]

In [22]:
#list of words into a string
str(l0)

"[1, 2, 'rawat', True, (5+8j)]"

In [23]:
a1='This is new Assignment of 20th_Aug and we need to submit asap'

In [24]:
a1

'This is new Assignment of 20th_Aug and we need to submit asap'

In [25]:
a1.replace(" ","_",)

'This_is_new_Assignment_of_20th_Aug_and_we_need_to_submit_asap'

In [26]:
#starts with a specific word
print(a.startswith('My'))

True

In [27]:
print(a1.endswith('asap'))

True

In [28]:
a1.title()

'This Is New Assignment Of 20Th_Aug And We Need To Submit Asap'

In [29]:
word_list=a1.split()
longest_word=max(word_list, key=len)
pos=a1.index(longest_word)
print("Longest word is:", longest_word)
print("Position of word is:", pos)

Longest word is: Assignment
Position of word is: 12

In [30]:
word_list=a1.split()
short_word=min(word_list, key=len)
pos=a1.index(short_word)
print("Shortest word is:", short_word)
print("Position of word is:", pos)

Shortest word is: is
Position of word is: 2

a1[]

In [31]:
a1[::-1]

'pasa timbus ot deen ew dna guA_ht02 fo tnemngissA wen si sihT'

In [32]:
a1.isalnum()

False

In [33]:
a1

'This is new Assignment of 20th_Aug and we need to submit asap'

In [34]:
a1.isalnum()

False

In [35]:
a.isalnum()

False

In [36]:
#extract numbers from a string
import re
numbers = [int(num) for num in re.findall(r'\d+', a1)]
print(numbers)

[20]

In [37]:
import re
res=re.sub(r'[^a-zA-Z]','',a1)
print(res)

ThisisnewAssignmentofthAugandweneedtosubmitasap

In [38]:
#Count the number of uppercase letters in a string
count=0
for i in a1:
    if i.isupper():
        count=count+1
print("The number of capital letters found in the string is:",count)

The number of capital letters found in the string is: 3

In [39]:
#Count the number of lowercase letters in a string
count=0
for i in a1:
    if i.islower():
        count=count+1
print("The number of lower letters found in the string is:",count)

The number of lower letters found in the string is: 44

In [40]:
#Swap the case of each character in a string
txt='I am Peter Parker'
x=txt.swapcase()
print(x)

i AM pETER pARKER

In [41]:
a2='This is PWskills'

In [42]:
a2.replace("is","")

'Th  PWskills'

In [43]:
a1

'This is new Assignment of 20th_Aug and we need to submit asap'

In [44]:
a2=a1.replace("20th_Aug","")

In [45]:
a2

'This is new Assignment of  and we need to submit asap'

In [46]:
from validate_email import validate_email
email='karan.rwt91@gmail.com'
is_valid=validate_email(email)
if is_valid:
    print("Email address is valid")
else:
    print("Email address is not valid")

ModuleNotFoundError: No module named 'validate_email'

In [ ]:
a2

In [47]:
a3='    Karan    Singh    Rawat    '

In [48]:
a3

'    Karan    Singh    Rawat    '

In [49]:
a3.replace("    "," ")

' Karan Singh Rawat '

In [50]:
import validators
valid=validators.url('https://www.w3schools.com/')
if valid==True:
    print('This URL is valid')
else:
        print('This URL is invalid')

ModuleNotFoundError: No module named 'validators'

In [51]:
import validators
string=('https://www.w3schools.com/')
if validators.url(string) is True:
    print('This is valid URL')

ModuleNotFoundError: No module named 'validators'

In [52]:
string='hello world life'
for i in string:
    frequency=string.count(i)
print(str(i) + ": " + str(frequency), end=", ")

e: 2,

In [53]:
import string
a3 = '!hi. wh?at is the weat[h]er lik?e.'
a4= a3.translate(str.maketrans('','',string.punctuation))
print(a4)

hi what is the weather like

In [54]:
a2.isnumeric()

False

In [55]:
new_a2="assingment need to submit of Aug 20"

In [56]:
new_a2.isnumeric()

False

In [57]:
new_a2.isalpha()

False

In [58]:
string='Karan pahadi'
print([*string])

['K', 'a', 'r', 'a', 'n', ' ', 'p', 'a', 'h', 'a', 'd', 'i']

In [59]:
str1='race'
str2='care'
sorted_str1 = sorted(str1)
sorted_str2 = sorted(str2)
if (sorted_str1 == sorted_str2):
    print(str1 +  "and"  +  str2  +  "are anagrams.")
else:
    print(str1 +  "and"  +  str2  +  "are not anagrams.")

raceandcareare anagrams.

In [60]:
from collections import defaultdict
my_list = ["python is best for coders", "python is fun", "python is easy to learn"]

print("The list is :")
print(my_list)

my_temp = defaultdict(int)

for sub in my_list:
   for word in sub.split():
      my_temp[word] += 1

result = max(my_temp, key=my_temp.get)

print("The word that has the maximum frequency :")
print(result)

The list is :
['python is best for coders', 'python is fun', 'python is easy to learn']
The word that has the maximum frequency :
python

In [61]:
my_str = 'Java is good lang and Python is also good lang'

unique_words = set(my_str.split())
print(unique_words)

length = len(unique_words)
print(length)

{'Python', 'Java', 'lang', 'good', 'and', 'is', 'also'}
7

In [62]:
def count(word):
    new_word = word
    count_syllables = new_word.split('-')
    return len(count_syllables)
print(count("ho-tel"))

2

In [63]:
import re

def find(string):
    special_char=re.compile('[@_!$%^&*()<>?/\|}{~:]#')
    
    if special_char.search(string) == None:
        return "string is accepted"
    else:
        return "string not accpeted"
   

s="Hello15@*+-"
print(s)
print(find(s))

Hello15@*+-
string is accepted

In [64]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=raw_input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

NameError: name 'raw_input' is not defined

In [65]:
def removechar(str1, n):
	x = str1[ : n]
	y = str1[n + 1: ]
	return x + y

# Driver Code
if __name__ == '__main__':
	str1 = input("Enter a String =")
	n = int(input("Enter the n-th index ="))

print("The new string =\n")
print(removechar(str1, n))

Enter a String =Karan
Enter the n-th index =2
The new string =

Kaan

In [66]:
l1=[1,2,3,4,5,6,7,8,9,10]

In [67]:
type(l1)

list

In [68]:
string = 'Hello'

count = 0

for i in string:
 
    count+=1
print(count)

5

In [69]:
l1.append(11)

In [70]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [71]:
l1.insert(4,21)

#

In [72]:
l1

[1, 2, 3, 4, 21, 5, 6, 7, 8, 9, 10, 11]

In [73]:
l1.remove(7)
#Removing an element from a list by its value

In [74]:
l1

[1, 2, 3, 4, 21, 5, 6, 8, 9, 10, 11]

#

In [75]:
del l1[1]
#Remove an element from a list by its index.

#

In [76]:
l1

[1, 3, 4, 21, 5, 6, 8, 9, 10, 11]

In [77]:
l2=[1,2,3,4,5,6,7]
i=7
if i in l2:
    print('its exist')
else:
        print('its doesnt exist')
#Check if an element exists in a list

its exist

In [78]:
l2

[1, 2, 3, 4, 5, 6, 7]

In [79]:
l2[0]

1

In [80]:
l2.count(2)

1

In [81]:
l3=[1,2,2,2,4,5,6,2,3,7,7,5]

In [82]:
l3.count(5)
#Count the occurrences of an element in a list

2

In [83]:
l2.reverse()

In [84]:
l2
#Reverse the order of elements in a list

[7, 6, 5, 4, 3, 2, 1]

In [85]:
l3.sort()
#Sort a list in ascending order

In [86]:
l3

[1, 2, 2, 2, 2, 3, 4, 5, 5, 6, 7, 7]

In [87]:
l3.sort(reverse=True)
print(l3)
#Sort a list in descending order.

[7, 7, 6, 5, 5, 4, 3, 2, 2, 2, 2, 1]

In [88]:
for i in range(0,20):
    if i%2==0:
        print(i, end=' ')

0 2 4 6 8 10 12 14 16 18

In [89]:
for i in range(0,20):
    if i%2!=0:
        print(i, end=' ')

1 3 5 7 9 11 13 15 17 19

In [90]:
number=[1,2,3,5,4,8,6,7]
sum=sum(number)
print(sum)

36

In [91]:
print('Maximum value is:' , max(number))

Maximum value is: 8

In [92]:
print('Minimum value is:' , min(number))
#Find the minimum value in a list

Minimum value is: 1

In [93]:
l=[]
for i in range(1,11):
    l.append(i*i)
    print("list of square number from 1 to 10")
    print(l)

list of square number from 1 to 10
[1]
list of square number from 1 to 10
[1, 4]
list of square number from 1 to 10
[1, 4, 9]
list of square number from 1 to 10
[1, 4, 9, 16]
list of square number from 1 to 10
[1, 4, 9, 16, 25]
list of square number from 1 to 10
[1, 4, 9, 16, 25, 36]
list of square number from 1 to 10
[1, 4, 9, 16, 25, 36, 49]
list of square number from 1 to 10
[1, 4, 9, 16, 25, 36, 49, 64]
list of square number from 1 to 10
[1, 4, 9, 16, 25, 36, 49, 64, 81]
list of square number from 1 to 10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [94]:
import random
randomlist = []
for i in range(0,5):
    n = random.randint(1,30)
    randomlist.append(n)
    print(randomlist)
#Create a list of random numbers

[10]
[10, 3]
[10, 3, 17]
[10, 3, 17, 6]
[10, 3, 17, 6, 11]

In [95]:
#Remove duplicates from a list
l3=list(dict.fromkeys(l3))
print(l3)

[7, 6, 5, 4, 3, 2, 1]

In [96]:
l2

[7, 6, 5, 4, 3, 2, 1]

###

In [97]:
l3

[7, 6, 5, 4, 3, 2, 1]

In [98]:
a1=[1,2,3,5]
a2=[2,5,7,9]

In [99]:
list(set(a1).intersection(a2))

[2, 5]

In [100]:
s = set(a2)
temp3 = [x for x in a1 if x not in s]
print(temp3)

[1, 3]

In [101]:
a3=a1+a2
print(a3)

[1, 2, 3, 5, 2, 5, 7, 9]

##

In [102]:
a3=a1*2
print(a3)

[1, 2, 3, 5, 1, 2, 3, 5]

In [103]:
a3=[i*2 for i in a3]
print(a3)

[2, 4, 6, 10, 2, 4, 6, 10]

In [104]:
a1

[1, 2, 3, 5]

In [105]:
a3=[i*2 for i in a1]
print(a3)

[2, 4, 6, 10]

In [106]:
a3

[2, 4, 6, 10]

In [107]:
a2

[2, 5, 7, 9]

In [108]:
a3

[2, 4, 6, 10]

In [109]:
a4=[i*2 for i in a2]
print(a4)

[4, 10, 14, 18]

In [110]:
a2

[2, 5, 7, 9]

In [111]:
a2=[2,3,4,6,8,9]

In [112]:
a2

[2, 3, 4, 6, 8, 9]

In [113]:
li1=[i for i in a2 if i%2==0]
print(li1)

[2, 4, 6, 8]

In [114]:
strlist=[1,2,3]
intlist=[int(x) for x in strlist]
print('The new string with integers is:', intlist)

The new string with integers is: [1, 2, 3]

In [115]:
flat=[[1,2,3],[1,4,5],[2,3,9]]
flat1=[num for sublist in flat for num in sublist]
print(flat1)

[1, 2, 3, 1, 4, 5, 2, 3, 9]

In [116]:
num = 10
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

print()

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

In [117]:
z=[1,2,3]

In [118]:
z

[1, 2, 3]

In [119]:
if z.sort:
    print(True)

True

In [120]:
test_list=[1,2,3,5,6]
print('Original list:' + str(test_list))
flag=0
test_list1=test_list[:]
test_list1.sort()
if (test_list1==test_list):
    flag=1
if (flag):
    print('Yes, List is sorted')
else:
    print('No, list is not sorted')

Original list:[1, 2, 3, 5, 6]
Yes, List is sorted

In [121]:
lower=0
upper=50
print('Prime numbers between', lower, 'and', upper, 'are:')
for num in range(lower, upper +1):
    if num>1:
        for i in range(2, num):
            if (num%i)==0:
                break
        else:
            print(num, end=' ')

Prime numbers between 0 and 50 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [122]:
num

50

In [123]:
l1=[10,2,15,20,4]
l2=list(set(l1))
l2.sort()
print('Second largest element is: ', l2[-2])

Second largest element is:  15

In [124]:
new=[]
for number in l1:
    new.append(number**2)
    print(new, end=' ')

[100] [100, 4] [100, 4, 225] [100, 4, 225, 400] [100, 4, 225, 400, 16]

In [125]:
color=[('red',1), ('blue',2), ('green', 3)]

In [126]:
type(color)

list

In [127]:
d=dict(color)
print(d)

{'red': 1, 'blue': 2, 'green': 3}

In [128]:
type(d)

dict

In [129]:
def factorial(n):
    return 1 if( n==1 or n==0) else n*factorial(n-1)

In [130]:
num=10
print('Factorial of', num, 'is', factorial(num))

Factorial of 10 is 3628800

In [131]:
def common_element(lst1,lst2):
    result=False
    for x in lst1:
        for y in lst2:
            if x==y:
                result=True
                return result
    return result

In [132]:
a=[1,2,3,4,6]
b=[3,4,5,6,7]
print(common_element(a,b))

a=[1,2,3,4]
b=[5,6,7,8]
print(common_element(a,b))

True
False

In [133]:
l3

[7, 6, 5, 4, 3, 2, 1]

In [134]:
l3.clear()

In [135]:
l3
#Remove all elements from a list.

[]

In [136]:
list1=[-1,-2,3,4,5,-6]

In [137]:
list1

[-1, -2, 3, 4, 5, -6]

In [138]:
list2=[0 if i<0 else i for i in list1]

In [139]:
list2

[0, 0, 3, 4, 5, 0]

In [140]:
strings='Karan Singh Rawat'
x=list(strings)
print(x)

['K', 'a', 'r', 'a', 'n', ' ', 'S', 'i', 'n', 'g', 'h', ' ', 'R', 'a', 'w', 'a', 't']

In [141]:
strng='Karan'
x=[i for i in strng]
print(x)

['K', 'a', 'r', 'a', 'n']

In [142]:
strng

'Karan'

In [143]:
xs=['k','a','r','a','n']

In [144]:
xs

['k', 'a', 'r', 'a', 'n']

In [145]:
s=''.join(xs)

In [146]:
s
#Convert a list of words into a string

'karan'

In [149]:
total=int(input('Enter the number for powers:'))
for i in range(total):
    print('2 is the power',i,'is ', 2**i)
#Create a list of the first `n` powers of 2

Enter the number for powers:4
2 is the power 0 is  1
2 is the power 1 is  2
2 is the power 2 is  4
2 is the power 3 is  8

In [150]:
liststr=['this','is','karan']
print('The originial list is: '+str(liststr))
max_len=-1
for i in liststr:
    if len(i)>max_len:
        max_len=len(i)
        res=i
print('The longest string is: '+res)
#Find the longest string in a list of strings

The originial list is: ['this', 'is', 'karan']
The longest string is: karan

In [151]:
liststr=['this','is','karan']
print('The originial list is: '+str(liststr))
min_len=999
for i in liststr:
    if len(i)<min_len:
        min_len=len(i)
        res=i
print('The longest string is: '+res)
#Find the shortest string in a list of strings

The originial list is: ['this', 'is', 'karan']
The longest string is: is

In [152]:
trinum=5
triangle_nums=[]
num=0
for i in range(1, trinum+1):
    num+=i
    triangle_nums.append(num)
print(triangle_nums)
#Create a list of the first `n` triangular numbers

[1, 3, 6, 10, 15]

In [153]:
pnt1=['java','python','csharp','.net','html']
pnt2=['python','.net','java']
check=all(item in pnt1 for item in pnt2)
if check is True:
    print('The list contains {} all elements of the list {}'.format(pnt1,pnt2))
else:
    print('No the list of pnt1 doesnt contain in pnt2')
#Check if a list contains another list as a subsequence

The list contains ['java', 'python', 'csharp', '.net', 'html'] all elements of the list ['python', '.net', 'java']

In [154]:
def swapping(list, pos1,pos2):
    list[pos1],list[pos2]=list[pos2],list[pos1]
    return list
list=[25,14,36,7,8]
pos1,pos2=1,3
print(swapping(list,pos1-1,pos2-1))
#Swap two elements in a list by their indices

[36, 14, 25, 7, 8]

In [155]:
tup=(1,2,3,4,5)

In [156]:
type(tup)

tuple

In [157]:
tup[3]

4

In [159]:
def main():
    exa=str(input('Enter a string'))
    print('The length of the ',exa,' string is: ',string(exa))

def string(length):
    if length=='':
        return 0
    else:
        return 1+string(length[1:])

main()

Enter a stringKaran
The length of the  Karan  string is:  5

In [160]:
data=(2,4,6,8,10)
print(data)
count=data.count(2)
print('Occurences: ',count)
data=(4,9,10)
print(data)
count=data.count(2)
print('Occurences: ',count)

(2, 4, 6, 8, 10)
Occurences:  1
(4, 9, 10)
Occurences:  0

In [161]:
tup

(1, 2, 3, 4, 5)

In [162]:
tup[0]
#Find the index of the first occurrence of an element in a tuple

1

In [163]:
fruits=('apple','mango','banana')
if 'apple' in fruits:
    print("Yes, 'apple' is in the tuples")
else:
    print('There is no element exist in tuples')

Yes, 'apple' is in the tuples

In [164]:
value=(1,2,'Karan', True)

In [165]:
value

(1, 2, 'Karan', True)

In [166]:
type(value)

tuple

In [167]:
mylist=list(value)
print(mylist)

TypeError: 'list' object is not callable

In [168]:
l1

[10, 2, 15, 20, 4]

l2

In [169]:
l2

[2, 4, 10, 15, 20]

In [170]:
tuple(l2)

(2, 4, 10, 15, 20)

In [171]:
type(l2)

list

In [172]:
l2

[2, 4, 10, 15, 20]

In [173]:
type(l2)

list

In [174]:
t1=(1,2,3,4,5)

In [175]:
list(t1)

TypeError: 'list' object is not callable

In [176]:
a=('Karan',15000,'IPEM')
(student,fees,college)=a
print(student)
print(fees)
print(college)

Karan
15000
IPEM

In [177]:
even_tuple=tuple(x for x in range(1,11) if x%2==0)
print(even_tuple)

(2, 4, 6, 8, 10)

In [178]:
odd_tuple=tuple(x for x in range(1,11) if x%2!=0)
print(odd_tuple)
#Create a tuple of odd numbers from 1 to 10

(1, 3, 5, 7, 9)

In [179]:
t1

(1, 2, 3, 4, 5)

In [180]:
type(t1)

tuple

In [181]:
t2=(5,7,'Karan')

In [182]:
t2

(5, 7, 'Karan')

In [183]:
t3=t1+t2

In [184]:
t3
#Concatenate two tuples

(1, 2, 3, 4, 5, 5, 7, 'Karan')

In [185]:
t3

(1, 2, 3, 4, 5, 5, 7, 'Karan')

In [186]:
t2

(5, 7, 'Karan')

In [187]:
t2*3

(5, 7, 'Karan', 5, 7, 'Karan', 5, 7, 'Karan')

In [188]:
a

('Karan', 15000, 'IPEM')

In [189]:
b=()

In [190]:
if a==():
    print('Tuple a is empty')
else:
    print('Tuple a is not empty')
if b==():
    print('Tuple b is empty')
else:
    print('Tuple b is not empty')

Tuple a is not empty
Tuple b is empty

In [191]:
employee=(10,'Ritu',15000)
print(employee)
employee=((10,'Ritu',15000),(15,'Prashant',20000),(20,'Rahul',25000))
print(employee)
#Create a nested tuple

(10, 'Ritu', 15000)
((10, 'Ritu', 15000), (15, 'Prashant', 20000), (20, 'Rahul', 25000))

In [192]:
for i in employee:
    print(i[0])
#Access the first element of a nested tuple

10
15
20

In [193]:
t3

(1, 2, 3, 4, 5, 5, 7, 'Karan')

In [194]:
tup2=(2,)

In [195]:
tup2

(2,)

In [196]:
type(tup2)
#Create a tuple with a single element

tuple

In [197]:
t1

(1, 2, 3, 4, 5)

In [198]:
t2

(5, 7, 'Karan')

In [199]:
if t1==t2:
    print('t1 and t2 are equal')
else:
    print('t1 and t2 and not equal')
#Compare two tuples

t1 and t2 and not equal

In [200]:
del(t2)
#Delete a tuple

In [201]:
t2

NameError: name 't2' is not defined

In [202]:
tup

(1, 2, 3, 4, 5)

In [203]:
tple=('a','b','c','d','e','f','g','h','i','j')
print(tple[0:6])
print(tple[1:9:2])
#Slice a tuple

('a', 'b', 'c', 'd', 'e', 'f')
('b', 'd', 'f', 'h')

In [204]:
res=max(tup)
print('Maximum value of tuple is: ',res)
#Find the maximum value in a tuple

Maximum value of tuple is:  5

In [205]:
res=min(tup)
print('Minimum value of tuple is:',res)
#Find the minimum value in a tuple

Minimum value of tuple is: 1

In [206]:
s='Python class'
print('Input string:',s)
t=s,
print('Output tuple is:',t)
print(type(t))
#Convert a string to a tuple of characters.

Input string: Python class
Output tuple is: ('Python class',)
<class 'tuple'>

In [207]:
def converttuple(tpl):
    str=''.join(tpl)
    return str
tpl1=('k','a','r','a','n')
strings=converttuple(tpl1)
print(strings)
print(type(strings))
#Convert a tuple of characters to a string

karan
<class 'str'>

In [208]:
tuples=('Karan',1,2.5,True)
print(tuples)
#Create a tuple from multiple data types

('Karan', 1, 2.5, True)

In [209]:
mylist1=[(10,12),(15,16)]
mylist2=[(15,18),(2,3)]
print('The first list of tuple is: ',mylist1)
print('The second list of tuple is: ',mylist2)
res=mylist1==mylist2
print('Are the list of tuples identical? ',res)
#Check if two tuples are identical

The first list of tuple is:  [(10, 12), (15, 16)]
The second list of tuple is:  [(15, 18), (2, 3)]
Are the list of tuples identical?  False

In [210]:
tup1=(2,1,8,3,4,2,6)
result=sorted(tup1)
print(result)
#Sort the elements of a tuple

[1, 2, 2, 3, 4, 6, 8]

In [211]:
def tupletostr(input_tup):
    result=''
    for num in input_tup:
        result+=str(num)
    return result

int_tuple=(1,2,3,4,5)
str_result=tupletostr(int_tuple)
print(str_result)
#Convert a tuple of integers to a tuple of strings

12345

In [212]:
test_str = "(7, 8, 9)" 
print("The original string is : " + test_str)
res = tuple(int(num) for num in test_str.replace('(', '').replace(')', '').replace('...', '').split(', '))
print("The tuple after conversion is : " + str(res)) 
#Convert a tuple of strings to a tuple of integers

The original string is : (7, 8, 9)
The tuple after conversion is : (7, 8, 9)

In [213]:
tup1

(2, 1, 8, 3, 4, 2, 6)

In [214]:
tup2=('a','b',True,1,2,5)
c=tup1+tup2

In [215]:
c
#Merge two tuples

(2, 1, 8, 3, 4, 2, 6, 'a', 'b', True, 1, 2, 5)

In [216]:
listtup=[(4,9,1),(5,6)]
print('The tuple of list is '+ str(listtup))
flattup=tuple(sum(listtup,[]))
print('Tuple after flattening is:'+ str(flattup))

The tuple of list is [(4, 9, 1), (5, 6)]

TypeError: 'int' object is not callable

In [217]:
def prime(n):
    if n<=1:
        return False
    for i in range(2, int(n**.5)+1):
        if n%i==0:
            return False
    return True

primes=tuple(x for x in range(0,5) if prime(x))
print(primes)
#Create a tuple of the first 5 prime numbers

(2, 3)

In [219]:
def ispalindrome(string):
    revstr=''.join(reversed(string))
    if string==revstr:
        return 'The String is Palindrom'
    return 'The String is not Palindrom'
string=input('Enter a String:')
print(ispalindrome(string))
#Check if a tuple is a palindrome

Enter a String:nitin
The String is Palindrom

In [220]:
numsqr=[(x,x**2)for x in range(1,5)]
print(numsqr)
#Create a tuple of squares of numbers from 1 to 5

[(1, 1), (2, 4), (3, 9), (4, 16)]

In [221]:
tst=[(6, 4, 2, 8), (5, 6, 7, 6), (8, 0, 2), (7, )]
print('The original list is: '+str(tst))
res_list=[]
for sub in tst:
    res=True
    for ele in sub:
        if ele%2!=0:
            res=False
            break
    if res:
        res_list.append(sub)
print('Filtered tuple is: '+str(res_list))
#Filter out all even numbers from a tuple

The original list is: [(6, 4, 2, 8), (5, 6, 7, 6), (8, 0, 2), (7,)]
Filtered tuple is: [(6, 4, 2, 8), (8, 0, 2)]

In [222]:
tup1

(2, 1, 8, 3, 4, 2, 6)

In [223]:
import random
import itertools
n=5
r=8
result=random.sample(list(itertools.product(range(r+1), repeat=2)), n)
print('The N random tuples are: '+str(result))

TypeError: 'list' object is not callable

In [224]:
import random
N = 4
R = 6
generate_tuples = lambda N, R: [(random.randint(0, R), random.randint(0, R)) for _ in range(N)]
 
output = generate_tuples(N, R)
print(output)
#Create a tuple of random numbers

[(4, 2), (5, 1), (0, 6), (6, 0)]

In [225]:
import numpy as np
if __name__ == '__main__':
   number = (1, 2, 4, 10, 18, 83)
   i = 1
   x = tuple(np.roll(number, i))
   print(x)
print(type(x))
#Rotate a tuple to the left by `n` positions

(83, 1, 2, 4, 10, 18)
<class 'tuple'>

In [226]:
def fibon(n):
    series=[0,1]
    for i in range(2,n):
        series.append(series[i-1]+series[i-2])
    return series
n=5
fib_series=tuple(fibon(n))
print('Fibonacci series are:')
print(fib_series)
print(type(fib_series))

Fibonacci series are:
(0, 1, 1, 2, 3)
<class 'tuple'>

In [227]:
x=input('Enter a tuple')
x=tuple(int(a) for a in x.split(","))
print(x)
#Create a tuple from user input

Enter a tuple1,2,5,8,9
(1, 2, 5, 8, 9)

In [228]:
a=(20,25,28)
b=(30,35,40)
print ("a=",a, "b=",b)
(a,b)=(b,a)
print("a=",a, "b=",b)
#Swap two elements in a tuple

a= (20, 25, 28) b= (30, 35, 40)
a= (30, 35, 40) b= (20, 25, 28)

In [229]:
tupvalue=('Karan', True, 1,2,4,2.5)
print('The original tuple is: ', tupvalue)
tupvalue=tuple(reversed(tupvalue))
print('The reveresed tuple is: ',tupvalue)
#Reverse the elements of a tuple

The original tuple is:  ('Karan', True, 1, 2, 4, 2.5)
The reveresed tuple is:  (2.5, 4, 2, 1, True, 'Karan')

In [231]:
print('Enter the total number of terms')
total=int(input())
for i in range(total):
    print('2 to the power of', i, 'is', 2**i)
#Create a tuple of the first `n` powers of 2

Enter the total number of terms
5
2 to the power of 0 is 1
2 to the power of 1 is 2
2 to the power of 2 is 4
2 to the power of 3 is 8
2 to the power of 4 is 16

In [232]:
tupstr=('This','is','Karan')

In [233]:
type(tupstr)

tuple

In [234]:
max(tupstr)

'is'

In [235]:
min(tupstr)

'Karan'

In [236]:
numbers=0
print('The triangular numbers are:')
for i in range (1,10):
    numbers=numbers + i
    print(numbers)
#Create a tuple of the first `n` triangular numbers

The triangular numbers are:
1
3
6
10
15
21
28
36
45

In [237]:
tup1

(2, 1, 8, 3, 4, 2, 6)

In [238]:
tup2

('a', 'b', True, 1, 2, 5)

In [239]:
print('the first tuple is:', tup1)
print('the second tuple is:', tup2)
myresult=set(tup2).issubset(tup1)
print('Is the tuple contains another tuple as subsequence?')
print(myresult)
#Check if a tuple contains another tuple as a subsequence

the first tuple is: (2, 1, 8, 3, 4, 2, 6)
the second tuple is: ('a', 'b', True, 1, 2, 5)
Is the tuple contains another tuple as subsequence?
False

In [240]:
n=5
myset=set(range(n))
print(myset)
type(myset)

{0, 1, 2, 3, 4}

set

In [241]:
myset.add(6)

In [242]:
myset

{0, 1, 2, 3, 4, 6}

In [243]:
myset.remove(6)

In [244]:
myset

{0, 1, 2, 3, 4}

In [245]:
if 3 in myset:
    print('This element exist in set')
else:
    print('This element doesnt exist in set')

This element exist in set

In [246]:
def findlen(n):
    counter=0
    while n[counter:]:
        counter+=1
    return counter
n=set('Karan Singh Rawat')
print(findlen(n))

TypeError: 'set' object is not subscriptable

In [247]:
myset.clear()

In [248]:
myset

set()

In [249]:
myset=set([x for x in range(10) if x%2==0])
print(myset)
print(type(myset))

{0, 2, 4, 6, 8}
<class 'set'>

In [250]:
myset1=set([x for x in range(10) if x%2!=0])
print(myset1)
print(type(myset1))

{1, 3, 5, 7, 9}
<class 'set'>

In [251]:
print('A U B:', myset.union(myset1))

A U B: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [252]:
myset2=set((3,4,8,10))
print(type(myset2))

<class 'set'>

In [253]:
myset1.intersection_update(myset2)
print('Set of intersection is: ', myset1)

Set of intersection is:  {3}

In [254]:
myset3=set((3,4,7,9,11,15))
print(myset2.difference(myset3))
print(myset3.difference(myset2))
#Find the difference between two sets

{8, 10}
{9, 11, 15, 7}

In [255]:
print(myset3.issubset(myset2))

False

In [256]:
a={10,12,14}

In [257]:
type(a)

set

In [258]:
print(myset3.issuperset(myset2))
#Check if a set is a superset of another set

False

In [259]:
mylist=[1,2,2,3,6]
my_set=set()
for num in mylist:
    my_set.add(num)
print(my_set)

{1, 2, 3, 6}

In [260]:
myset3

{3, 4, 7, 9, 11, 15}

In [261]:
type(myset3)

set

In [262]:
my_set = {'Karan', 'Singh', 'Rawat'}
print(type(my_set))
s = list(my_set)
print(type(s))

#please give a solution of that

<class 'set'>

TypeError: 'list' object is not callable

In [263]:
type(myset3)

set

In [264]:
myset3

{3, 4, 7, 9, 11, 15}

In [265]:
random=myset3.pop()
print('The random deleted element for set is:', random)

The random deleted element for set is: 3

In [266]:
new=myset3.remove(9)
print('The deleted element is: ', new)

The deleted element is:  None

In [267]:
a = {23,45,78,8,56}
b = {42,55,26,87}
c = {87,46}
print('a:',a)
print('b:',b)
print('c:',c)
print('Check if two given sets have common elements')
print('compare a and b:', a.isdisjoint(b))
print('compare b and c:', b.isdisjoint(c))
print('compare c and a:', c.isdisjoint(a))
#Check if two sets have no elements in common

a: {23, 8, 56, 45, 78}
b: {42, 26, 55, 87}
c: {46, 87}
Check if two given sets have common elements
compare a and b: True
compare b and c: False
compare c and a: True

In [268]:
a1={8,15,19,20,25}

In [269]:
b1={8,9,10,19,22,25}

In [270]:
print(a1.symmetric_difference(b1))
#Find the symmetric difference between two sets

{20, 22, 9, 10, 15}

In [271]:
a1.update(b1)
print(a1)
#Update a set with elements from another set

{8, 9, 10, 15, 19, 20, 22, 25}

In [272]:
n=5
print('The prime numbers are:')
for num in range(n):
    if num>1:
        for i in range(2,num):
            if (num%i)==0:
                break
        else:
            print(num)
#Create a set of the first 5 prime numbers

The prime numbers are:
2
3

In [273]:
set1={1,2,3,5}
set2={1,2,3,5}
if set1==set2:
    print('The set are identical')
else:
    print('The set are not identical')
#Check if two sets are identical

The set are identical

In [274]:
fruits=('Apple','Mango','Banana')
z=frozenset(fruits)

In [275]:
z

frozenset({'Apple', 'Banana', 'Mango'})

In [276]:
type(z)
#Create a frozen set

frozenset

In [277]:
a

{8, 23, 45, 56, 78}

In [278]:
b

{26, 42, 55, 87}

In [279]:
print(a.isdisjoint(b))
#Check if a set is disjoint with another set

True

In [281]:
sqr={x**2 for x in range(1,6)}
print(sqr)
print(type(sqr))
#Create a set of squares of numbers from 1 to 5

{1, 4, 9, 16, 25}
<class 'set'>

In [282]:
a1

{8, 9, 10, 15, 19, 20, 22, 25}

In [284]:
for i in a1:
    if i%2==0:
        print(i, end=',')
#Filter out all even numbers from a set

8,10,20,22,

In [289]:
import random
z=random.randint(0,5)
print(z)

2
<class 'int'>

In [290]:
set={}
if set=={}:
    print('The set is empty')
else:
    print('The set is not empty')
#Check if a set is empty

The set is empty

In [292]:
datascntst={'Python','R','SQL','GIT'}
dataengner={'Python','java','scala','GIT','SQL'}
print(datascntst)
print(dataengner)
#Create a nested set (hint: use frozenset)
#PLEASE GIVE A SOLUTION OF THAT

{'R', 'SQL', 'Python', 'GIT'}
{'SQL', 'Python', 'GIT', 'scala', 'java'}

In [293]:
setexa={1,2,3,4,5,6,7,8}
print(setexa)
setexa.discard(3)
print(setexa)
#Remove an element from a set using the discard method

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 4, 5, 6, 7, 8}

In [294]:
if datascntst == dataengner:
    print('The two sets are equal')
else:
    print('The two sets are unequal')
#Compare two sets

The two sets are unequal

In [297]:
strings='karan'
print('The string is:'+ strings)
newstrings=set(strings)
print('The string after conversion is:'+ newstrings)
#Create a set from a string
#PLEASE PROVIDE A SOLUTION

The string is:karan

TypeError: 'dict' object is not callable

In [300]:
z={'Karan'}
print(type(z))

<class 'set'>

In [306]:
i=int('karan')
print(i)
#Convert a set of strings to a set of integers
#Convert a set of integers to a set of strings
#PLEASE PROVIDE A SOLUTION OF THESE TWO's

ValueError: invalid literal for int() with base 10: 'karan'

In [307]:
mytup=(1,2,3,4)
myset=set(mytup)
print(myset)
#Create a set from a tuple
#PLEASE PROVIDE A SOLUTION

TypeError: 'dict' object is not callable

In [310]:
myset={1,4,7}
mytuple=tuple(myset)
print(mytuple)
print(type(mytuple))
#Convert a set to a tuple

(1, 4, 7)
<class 'tuple'>

In [311]:
setexa

{1, 2, 4, 5, 6, 7, 8}

In [312]:
maximum=max(setexa)
print('The maximum value is:',maximum)
#Find the maximum value in a set.

The maximum value is: 8

In [313]:
minimum=min(setexa)
print('The minimum value is:',minimum)
#Find the minimum value in a set.

The minimum value is: 1

In [315]:
s=input('Enter a text for set: ')
s={a for a in s.split(',')}
print(s)
#Create a set from user input

Enter a text for set: Orange, mango, banana
{' banana', ' mango', 'Orange'}

In [316]:
num1={1,4,5,8,9}
num2={2,3,6,7,10}
common=num1 & num2
common=num1.intersection(num2)
print('The intersection is: ', common)
#Check if the intersection of two sets is empty

The intersection is:  set()

In [318]:
def fib(n, a=0, b=1):
    if n == 0: 
        return a
    return fib(n-1, b, a+b)
print(fib(5))

5

In [320]:
mylst=[1,1,2,2,3,4,5,6,7,7,8]
finallst=set(mylst)
print(list(finallst))
#Remove duplicates from a list using sets
#PLEASE GIVE A SOLUTION

TypeError: 'dict' object is not callable

In [321]:
a1

{8, 9, 10, 15, 19, 20, 22, 25}

In [322]:
b1

{8, 9, 10, 19, 22, 25}

In [323]:
a2

[2, 3, 4, 6, 8, 9]

In [327]:
def commondata(a1,b1):
    result=False
    for x in a1:
        for y in b1:
            if x==y:
                result=True
                return result
    return result
print(commondata)

<function commondata at 0x000002019587EAC0>

In [328]:
print("Enter the Total Number of Terms: ")
tot = int(input())
for i in range(tot):
    print("2 raised to the power ", i, " is ", 2 ** i)

Enter the Total Number of Terms:
4
2 raised to the power  0  is  1
2 raised to the power  1  is  2
2 raised to the power  2  is  4
2 raised to the power  3  is  8

In [332]:
print("Triangular number sequence, finding the nth term")
n=int(input('Type a number between 1 to 10: '))
triangularnum=int(n*(n+1)/2)
print('The '+str(n)+'th triangular num is:')
#Create a set of the first `n` triangular numbers

Triangular number sequence, finding the nth term
Type a number between 1 to 10: 3
The 3th triangular num is:

In [333]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5}
print(s2.issubset(s1))
#Check if a set contains another set as a subset

True

In [335]:
a1

{8, 9, 10, 15, 19, 20, 22, 25}

In [336]:
b1

{8, 9, 10, 19, 22, 25}

In [337]:
a2

[2, 3, 4, 6, 8, 9]

In [339]:
b2={1,5,9,7}

In [341]:
new_set=a1.union(a1).union(b1).union(b2)
print(new_set)
#Merge multiple sets into one

{1, 5, 7, 8, 9, 10, 15, 19, 20, 22, 25}